.vs
Benchmarks/bin
Benchmarks/obj
packages
MakeMeAPassword.Web/MakeMeAPassword.Web.csproj.user
*.user
Web.NetCore/.config
/Web.Net60/obj
/Web.Net60/bin/Debug/net6.0
Terninger.Mmap.state.txt
/Web.Net60/bin/Release/net6.0/publish
/Web.Net60/bin/Release/net6.0
/Web/obj
/Web/bin

/Web/wwwroot/js/site.min.js.gz
/Web/wwwroot/js/site.min.js
/Web/wwwroot/css/site.min.css
