.vs
Benchmarks/bin
Benchmarks/obj
MakeMeAPassword.Web/bin
MakeMeAPassword.Web/obj
packages
MakeMeAPassword.Web/MakeMeAPassword.Web.csproj.user
Web.NetCore/bin
Web.NetCore/obj
Web.NetCore/wwwroot/js/site.min.js.gz
*.user
Web.NetCore/.config
/Web.Net60/obj
/Web.Net60/bin/Debug/net6.0
Terninger.Mmap.state.txt
