@* Copyright 2019 Murray Grant
    //
    //    Licensed under the Apache License, Version 2.0 (the "License");
    // you may not use this file except in compliance with the License.
    // You may obtain a copy of the License at
    //
    // http://www.apache.org/licenses/LICENSE-2.0
    //
    //    Unless required by applicable law or agreed to in writing, software
    // distributed under the License is distributed on an "AS IS" BASIS,
    // WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    // See the License for the specific language governing permissions and
    // limitations under the License.
*@
@{
    ViewData["Title"] = "Password Styles";
}

<h2>Password Styles</h2>

<p>
    There are a variety of styles of passwords and passphases this site can generate for you. Each have their plusses and minuses.
</p>
<p>
    All styles are randomly generated under highly controlled conditions, so password crackers and other malicious people have no easy way to guess them.
    You can see exactly how many combinations each style has on their pages (bigger numbers are better, but harder to remember).
</p>



<a href="/Generate/ReadablePassphrase"><h3>Readable Passphrase</h3></a>
<p>Example: <span class="label label-default example-password">the statesman will burgle amidst lucid sunlamps</span></p>
<h4>Pros</h4>
<ul>
    <li>Common words and familiar structure make them the easiest to remember</li>
    <li>Most password crackers don't look for such long passwords</li>
    <li>Passphrases are quite entertaining</li>
</ul>
<h4>Cons</h4>
<ul>
    <li>Longest style to achieve required quality</li>
    <li>Time consuming to type (especially on mobile devices)</li>
    <li>Many websites will not accept a password this long</li>
</ul>
<h4>Recommended Uses</h4>
<ul>
    <li>Computer logins</li>
    <li>Master passwords for password managers</li>
    <li>Full disk encryption passwords</li>
    <li>Randomised answers to "secret questions"</li>
    <li>Any time you cannot use a password manager</li>
    <li>Having a laugh at nonsense phrases!</li>
</ul>


<a href="/Generate/Passphrase"><h3>Dictionary Passphrase</h3></a>
<p>Example: <span class="label label-default example-password">correct horse battery staple</span> (as popularised by <a href="https://xkcd.com/936/">xkcd</a>)</p>
<h4>Pros</h4>
<ul>
    <li>Common words make them easy to remember</li>
    <li>Most password crackers don't look for such long passwords</li>
    <li>Passphrases can be moderately entertaining</li>
</ul>
<h4>Cons</h4>
<ul>
    <li>Must be long to be of required quality</li>
    <li>Time consuming to type (especially on mobile devices)</li>
    <li>Many websites will not accept a password this long</li>
</ul>
<h4>Recommended Uses</h4>
<ul>
    <li>Computer logins</li>
    <li>Master passwords for password managers</li>
    <li>Full disk encryption passwords</li>
    <li>Randomised answers to "secret questions"</li>
    <li>Any time you cannot use a password manager</li>
</ul>


<a href="/Generate/Pronouncable"><h3>Pronouncable Password</h3></a>
<p>Example: <span class="label label-default example-password">psu-zigh-soorh-alung</span></p>
<h4>Pros</h4>
<ul>
    <li>Famliar sounds make them reasonably easy to remember</li>
    <li>Just as strong as other methods</li>
    <li>Quite easy to type, even on mobile devices</li>
</ul>
<h4>Cons</h4>
<ul>
    <li>Hardest to remember of the common passphrases on this site</li>
</ul>
<h4>Recommended Uses</h4>
<ul>
    <li>Computer logins</li>
    <li>Website logins</li>
    <li>Any time you cannot use a password manager</li>
</ul>

<hr />

<a href="/Generate/PIN"><h3>PIN</h3></a>
<p>Example: <span class="label label-default example-password">9237</span></p>
<p><span class="label label-danger">Important</span> PINs are not a substitute for a password. They should only be used on phones, tablets or to protect your credit card. Never use a PIN as your computer login or a website login. </p>
<h4>Pros</h4>
<ul>
    <li>PINs from this site <a href="/faq#pinblacklist">will never contain</a> the most commonly used combinations</li>
    <li>Its quite easy to memorise a 6 or even 8 digit PIN</li>
    <li>A random PIN will be of better quality than the connect-the-dots style</li>
</ul>
<h4>Cons</h4>
<ul>
    <li>Not a replacement for a password</li>
    <li>Only to be used on phone, tablets and credit cards</li>
    <li>Don't use them as computer logins or website accounts, ever</li>
    <li>Really, I mean it!</li>
</ul>
<h4>Recommended Uses</h4>
<ul>
    <li>Phones, tablets or other mobile devices</li>
    <li>Credit and debit cards</li>
    <li>PIN coded doors</li>
</ul>


<hr />

<a href="/Generate/AlphaNumeric"><h3>Alpha Numeric Password</h3></a>
<p>Example: <span class="label label-default example-password">RcJd04QI</span></p>
<h4>Pros</h4>
<ul>
    <li>Most websites will accept it, perhaps with a little tweaking</li>
    <li>Pretty short to type</li>
</ul>
<h4>Cons</h4>
<ul>
    <li>Hard to remember even a short password</li>
    <li>Difficult to type on mobile devices with capital letters</li>
    <li>Even more difficult to type on mobile devices with punctuation and symbols</li>
    <li>Every password manager under the sun already generates these</li>
</ul>
<h4>Recommended Uses</h4>
<ul>
    <li>None. Use your password manager instead!</li>
</ul>


<a href="/Generate/Unicode"><h3>Unicode</h3></a>
<p>Example: <span class="label label-default example-password">㈒୫❫✤ʁⲮ₪Ǧ</span></p>
<h4>Pros</h4>
<ul>
    <li>Totally unguessable</li>
    <li>Very geeky</li>
</ul>
<h4>Cons</h4>
<ul>
    <li>Few websites will accept them</li>
    <li>Extremely hard to remember</li>
    <li>Impossible to type in most environments; copy-and-paste is really the only way</li>
</ul>
<h4>Recommended Uses</h4>
<ul>
    <li>Generating a single unicode character to add to another password</li>
    <li>Showing off to your friends</li>
</ul>



<a href="/Generate/Hex"><h3>Hex String</h3></a>
<p>Example: <span class="label label-default example-password">3629c4f4a7c1e32f</span></p>
<h4>Pros</h4>
<ul>
    <li>Closest you can get to completely random 1's and 0's</li>
</ul>
<h4>Cons</h4>
<ul>
    <li>Meant for use by computers, not people</li>
</ul>
<h4>Recommended Uses</h4>
<ul>
    <li>Seeding a random number generator</li>
    <li>Providing additional entropy for random number generators</li>
</ul>

