@* Copyright 2019 Murray Grant
    //
    //    Licensed under the Apache License, Version 2.0 (the "License");
    // you may not use this file except in compliance with the License.
    // You may obtain a copy of the License at
    //
    // http://www.apache.org/licenses/LICENSE-2.0
    //
    //    Unless required by applicable law or agreed to in writing, software
    // distributed under the License is distributed on an "AS IS" BASIS,
    // WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    // See the License for the specific language governing permissions and
    // limitations under the License.
*@
@{
    ViewData["Title"] = "Generate - Unicode";
}

<h2 class="text-center">Unicode</h2>

<div id="ipBasedLimitWarning" class="alert alert-info" style="display:none;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Usage Limits</h4>
    <p>To ensure everyone can make passwords, there are <a href="/faq#usagelimit">usage limits</a> based on your IP Address.</p>
    <p>Please do not abuse this service or you will be temporarily blocked.</p>
</div>

<p>
    <a href="https://en.wikipedia.org/wiki/Unicode">Unicode</a> is the magic system used so all the different letters and symbols from languages around the world can be used on a computer. Seriously, its nothing short of amazing (representing over 110 thousand characters)!</p>
<p>
    And they make for the ultimate geek password!
</p>
<p>
    But only if your website accepts them (unlikely). And if you can type them (doubtful). And if you can remember all the bizzare characters (impossible)!
</p>
<p>
    On the plus side, most desktop and laptop computers will accept them as login passwords. The tricky part is <a href="https://en.wikipedia.org/wiki/Unicode_input">typing them</a>.</p>
<p>
    Seriously, unicode passwords are more for show than anything else. You'll get more milage out of <a href="/generate">pretty much any other style</a>.
</p>
<p>
    Example: <span class="label label-default example-password">㈒୫❫✤ʁⲮ₪Ǧ</span>
</p>

<span class="label label-default">TODO</span> How to type these!

<div id="passwordPlace" class="well password-panel">
    <div class="panel-body">
        <span class="pw">Generating...</span>
    </div>
</div>

<div>
    <button class="btn btn-primary password-get" id="passwordGet" data-loading-text="Generating..."
            data-urlpassword="/api/v1/unicode/json" data-urlcombinations="/api/v1/unicode/combinations">
        Get Another
    </button>
    <p id="passwordError" style="display:none;">
        <i class="icon-sadface"></i> 
        <span class="message"></span> <br />
        <span> Please try again later or <a href="/contact">contact the author</a>.</span>
    </p>
</div>


<div id="combinationsPlace" style="display:none;" class="panel panel-default combinations-panel">
    <div class="panel-heading">
        <h2>Password Quality</h2>
    </div>
    <div class="panel-body">
        <div class="rating">
            <h4></h4>
            <p></p>
        </div>
        <div class="fineprint">
            <label>Total Combination Details:</label> 
            <div class="numbers">
                <span class="label label-default formatted"></span> (<span class="label label-default base10"></span> <span class="label label-default base2"></span> bits)
            </div>
        </div>
    </div>
</div>

<div id="passwordParameters" data-pagekey="unicode" class="panel panel-default parameters-panel">
    <div class="panel-heading">
        <h2>Fine Tuning</h2>
    </div>

    <div class="panel-body">
        <div class="form-group">
            <label for="pwLength" class="control-label">Length</label>
            <input type="number" class="form-control" name="l" id="pwLength" value="8" />
        </div>

        <div class="form-group">
            <label for="pwSpaces" class="control-label">Number of Passwords</label>
            <input type="number" class="form-control" name="c" id="pwCount" value="1" />
        </div>

        <div class="form-group">
            <a href="/faq#unicodebmp" class="pull-right">What's a Basic Multilingual Plane?</a>
            <label for="pwBmp" class="control-label">Only From Basic Multilingual Plane</label>
            <div class="checkbox-inline checkbox-right">
                <input type="checkbox" class="checkbox" name="bmp" id="pwBmp" checked="checked" value="y" data-uncheckedvalue="n" />
            </div>
        </div>

        <div class="form-group">
            <a href="/faq#" class="pull-right">What's this mean?</a>
            <label for="pwAsian" class="control-label">Include Asian Characters</label>
            <div class="checkbox-inline checkbox-right">
                <input type="checkbox" class="checkbox" name="asian" id="pwAsian" value="y" data-uncheckedvalue="n" />
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary password-get" data-loading-text="Generating..."
        data-urlpassword="/api/v1/unicode/json" data-urlcombinations="/api/v1/unicode/combinations">
    Get Another
</button>
