@* Copyright 2022 Murray Grant
    //
    //    Licensed under the Apache License, Version 2.0 (the "License");
    // you may not use this file except in compliance with the License.
    // You may obtain a copy of the License at
    //
    // http://www.apache.org/licenses/LICENSE-2.0
    //
    //    Unless required by applicable law or agreed to in writing, software
    // distributed under the License is distributed on an "AS IS" BASIS,
    // WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    // See the License for the specific language governing permissions and
    // limitations under the License.
*@
@{
    ViewData["Title"] = "Contact";
}

<h2>Contact</h2>

<p>
    Contact Murray to provide feedback, report bugs or suggest new features
    at <a href="https://github.com/ligos/MakeMeAPassword">GitHub Issue Tracker</a> 
    or email <a href="mailto:makemeapassword@ligos.net">makemeapassword@ligos.net</a>
    or use <a href="https://keybase.io/ligos">Keybase</a>.
</p>
<p>
    While I can't promise to answer every question or respond to every problem, I do read everything.
    Your requests are used to prioritise changes, fixes and improvements.
</p>
<p>
    The Readable Passphrases are generated using the <a href="https://github.com/ligos/readablepassphrasegenerator">Readable Passphrase Generator</a>, also by Murray.
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
