@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<p><span class="label label-danger">TODO</span> Update source hosting link and email based on final site name</p>
<p>
    Contact Murray to provide feedback, report bugs or suggest new features
    at <a href="https://bitbucket.org/ligos/makemeapassword/issues">BitBucket Issue Tracker</a> 
    or email <a href="mailto:makemeapassword@ligos.net">makemeapassword@ligos.net</a>.
</p>
<p>
    While I can't promise to answer every question or respond to every problem, I do read everything.
    Your requests are used to prioritise changes, fixes and improvements.
</p>
<p>
    The Readable Passphrases are generated using the <a href="http://readablepassphrase.codeplex.com/">Readable Passphrase Generator</a>, also by Murray.
</p>
