@* Copyright 2014 Murray Grant
    //
    //    Licensed under the Apache License, Version 2.0 (the "License");
    // you may not use this file except in compliance with the License.
    // You may obtain a copy of the License at
    //
    // http://www.apache.org/licenses/LICENSE-2.0
    //
    //    Unless required by applicable law or agreed to in writing, software
    // distributed under the License is distributed on an "AS IS" BASIS,
    // WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    // See the License for the specific language governing permissions and
    // limitations under the License.
*@
@{
    ViewBag.Title = "";
}

<div class="row jumbotron" >
    <div class="logo-background">
        <i class="fa fa-asterisk fa-4x"></i>
        <i class="fa fa-asterisk fa-4x"></i>
        <i class="fa fa-asterisk fa-4x"></i>
        <span class="hidden-xs inline">
            <i class="fa fa-asterisk fa-4x"></i>
            <i class="fa fa-asterisk fa-4x"></i>
            <i class="fa fa-asterisk fa-4x"></i>
        </span>
    </div>

    <h1>Make Me A Password</h1>
    <p>Let's face it, humans aren't very good at thinking up passwords.</p>
    <p>Generate a password the bad people can't guess, but you can easily remember.</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/About">More Info &raquo;</a>
        &nbsp;
        <a class="btn btn-default btn-lg" href="#options" >Show Me The Options <i class="fa fa-arrow-down"></i></a>
        <button type="button" class="btn btn-inverse btn-lg" id="impatientPassword">Just Make Me A Password! <br /> Right Now!!</button>
    </p>
</div>

<div class="row front-marketing">
    <div class="col-xs-4 centered">
        <a href="/About#secure">
            <i class="fa fa-shield"></i>
            <h3>Secure</h3>
        </a>
        <p>Generated passwords are delivered securely via SSL. Mathematically tested so passwords cannot be guessed.</p>
    </div>
    <div class="col-xs-4 centered">
        <a href="/about#recommended">
            <i class="fa fa-smile-o"></i>
            <h3>Simple</h3>
        </a>
        <p>You don't need to think up a password. Let the computer do it for you! Passwords can be remembered after just a few days use.</p>
    </div>
    <div class="col-xs-4 centered">
        <a href="/technical">
            <span class="fa-stack">
                <i class="fa fa-square fa-stack-1x"></i>
                <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Tweakable</h3>
        </a>
        <p>Security and password geeks can have control of length, complexity and other factors. A REST web API is also available.</p>
    </div>
</div>

<hr />

<div class="row-fluid"><div class="span10 offset1">
    <a name="options"></a>
    <h2>Your Next Password in 3 Steps</h2>

    <div id="passwordParameters" data-pagekey="main">
        <h4>1. Choose your style</h4>
        <div class="text-margin-small">
            <label class="radio">
                <input type="radio" name="pwType" id="pwTypeReadable" value="readable" class="example-password-radio"
                       data-urlpassword="/api/v1/readablepassphrase/json" data-urlcombinations="/api/v1/readablepassphrase/combinations"
                       title="Easiest to remember, but longest to type.">
                    Readable passphrase &nbsp; <span class="label label-default example-password ">The statesman will burgle amidst lucid sunlamps</span>
            </label>
            <label class="radio">
                <input type="radio" name="pwType" id="pwTypeDict" value="dict" class="example-password-radio"
                       data-urlpassword="/api/v1/passphrase/json" data-urlcombinations="/api/v1/passphrase/combinations"
                       title="Pretty easy to remember, medium length.">
                    Dictionary passphrase &nbsp; <span class="label label-default example-password">correct horse battery staple</span>
            </label>
            <label class="radio">
                <input type="radio" name="pwType" id="pwTypePronounce" value="pronounce" class="example-password-radio"
                       data-urlpassword="/api/v1/pronouncable/json" data-urlcombinations="/api/v1/pronouncable/combinations"
                       title="Hardest to remember, but shortest.">
                    Pronouncable password &nbsp; <span class="label label-default example-password">psu-zigh-soorh-alung</span>
            </label>
            <small>Not what you're looking for? Try @Html.ActionLink("alternative styles", "Index", "Generate").</small>
        </div>

        <h4>2. Choose your strength</h4>
        <div class="text-margin-small">
            <label class="radio">
                <input type="radio" name="pwStrength" id="pwPredefinedStrengthShort" value="short" />
                    Low value online sites, general computer logins or passwords you need to enter often
            </label>
            <label class="radio">
                <input type="radio" name="pwStrength" id="pwPredefinedStrengthLong" value="long">
                    High value online sites (financial, email, social networking), password managers or secure computer logins
            </label>
            <label class="radio">
                <input type="radio" name="pwStrength" id="pwPredefinedStrengthForever" value="forever">
                    Ultra high security, full disk encryption or wireless access points (resists offline cracking)
            </label>
            <small>Want more control? @Html.ActionLink("More options are available", "Index", "Generate").</small>
        </div>
    </div>

    <a name="getpassword"></a>
    <p class="text-margin-top">
        <button class="btn btn-primary password-get" id="passwordGetFront">3. Get Password</button>
    </p>
    <p id="passwordError" style="display:none;">
        <i class="icon-sadface"></i> 
        <span class="message"></span> <br />
        <span> Please try again later or @Html.ActionLink("Contact", "Contact", "Home") the author.</span>
    </p>


    <div id="ipBasedLimitWarning" class="alert alert-info" style="display:none;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Usage Limits</h4>
        <p>To ensure everyone can make passwords, there are <a href="/faq#">usage limits</a> based on your IP Address.</p>
        <p>Please do not abuse this service or you will be temporarily blocked.</p>
    </div>

    <div id="passwordPlace" class="well password-panel"><div class="panel-body">
        <span class="pw">Click 'Get Password' to make your new password</span>
    </div></div>


    <div id="impatientPasswordHint" style="display:none;">
        <p><span class="label label-warning">Don't Like That Password?</span> <a href="#options">Scroll up</a> to try different options.</p>
    </div>

    <div class="alert alert-info" id="passwordPostFront" style="display:none;">
        <h4>4. What Now?</h4>
        <p>You should write down or record your new password until you memorise it. </p>
        <p><span class="label label-default">Remember</span> Store your password securely in a <a href="/faq#passwordmanager">Password Manager</a>, your wallet or with important documents like your passport.</p>
        <p>If you need to <strong>add</strong> a number or symbol for your password to be accepted, that's fine, but makes as few changes as possible. <small>(Fine print: <a href="/Faq#changepassword">implications of changing a generated password</a>).</small></p>
    </div>
</div></div>
