@* Copyright 2019 Murray Grant
    //
    //    Licensed under the Apache License, Version 2.0 (the "License");
    // you may not use this file except in compliance with the License.
    // You may obtain a copy of the License at
    //
    // http://www.apache.org/licenses/LICENSE-2.0
    //
    //    Unless required by applicable law or agreed to in writing, software
    // distributed under the License is distributed on an "AS IS" BASIS,
    // WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    // See the License for the specific language governing permissions and
    // limitations under the License.
*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Generate a hard to guess, easy to remember password.">
    <title>
        @if (String.IsNullOrEmpty((ViewData["Title"] ?? "").ToString()))
        {
            @:Make Me a Password
        }
        else
        {
            @ViewBag.Title @:- Make Me a Password
        }
    </title>

    <link rel="author" href="/humans.txt" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon.png" />

    @* CSS includes *@
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css?v=3.3.7" />
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-theme.css?v=3.3.7" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css?v=4.1.0" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css?v=3.3.7"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap-theme.min.css?v=3.3.7" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
              integrity="sha384-X7L1bhgb36bF1iFvaqvhgpaGpayKM+vXNNYRlF89BFA5s3vi1qZ8EX9086RlZjy1" crossorigin="anonymous"
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css?v=4.1.0"
              asp-fallback-test-class="fa" asp-fallback-test-property="font-family" asp-fallback-test-value="FontAwesome" />

        <link rel="stylesheet" href="~/css/Site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!--[if lt IE 11]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <partial name="_TopNavbar" />

    <div class="container">
        <div class="alert alert-danger alert-dismissible" role="alert" id="domainChangeAlert" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            <h4>Make Me a Password is Moving!</h4>
            <p>
                Please update links, references, and bookmarks to <strong><a href="https://makemeapassword.ligos.net">makemeapassword.ligos.net</a></strong>.
            </p>
            <p>
                <a href="/faq#domainchange">See the FAQ for more information and the timeline for the move</a>.
            </p>
            <p>
                You will be automatically redirected in 20 seconds.
            </p>
        </div>
    </div>

    <div class="container container-body">
        @RenderBody()
    </div>

    <partial name="_Footer" />

    
    @* Javascript includes *@
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js?v=3.3.1"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js?v=3.3.7"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js?v=3.3.1"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js?v=3.3.7"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
