<?xml version="1.0"?>
<!--
// Copyright 2014 Murray Grant
//
//    Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
//    Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
-->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="HotBits.ApiKey" value=""/>
    <add key="RandomOrg.ApiKey" value=""/>
  </appSettings>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="default" cacheMemoryLimitMegabytes="64" pollingInterval="00:30:00"/>
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.7.1" enableVersionHeader="false"/>
    <compilation debug="true" targetFramework="4.7.1"/>
    <trust level="Full"/>
    <sessionState mode="Off"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>

    <!-- Compression directive -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <!-- Remove the www -->
    <!-- http://stackoverflow.com/a/21141878/117070 -->
    <rewrite>
      <rules>
        <clear/>
        <rule name="LetsEncrypt" stopProcessing="true">
          <match url=".well-known/acme-challenge/*"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="None"/>
        </rule>
        <rule name="Canonical host name" enabled="true">
          <match url="(.*)"/>
          <conditions trackAllCaptures="true">
            <add input="{HTTP_HOST}" negate="false" pattern="^www\.(.+)$"/>
            <add input="{CACHE_URL}" pattern="^(.+)://"/>
          </conditions>
          <action type="Redirect" url="{C:2}://{C:1}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent"/>
        </rule>
        <rule name="Https redirect" stopProcessing="true">
          <match url="(.*)"/>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^makemeapassword.org$"/>
            <add input="{HTTPS}" pattern="^OFF$"/>
          </conditions>
        </rule>
        <rule name="Https redirect 2" stopProcessing="true">
          <match url="(.*)"/>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^makemeapassword.ligos.net$"/>
            <add input="{HTTPS}" pattern="^OFF$"/>
          </conditions>
        </rule>
      </rules>
    </rewrite>
    <!-- Set static content to expire in 1 year, by default -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00"/>
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="strict-transport-security" value="max-age=16070400"/>
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' https://oss.maxcdn.com https://code.jquery.com https://netdna.bootstrapcdn.com; style-src 'self' 'unsafe-inline' https://netdna.bootstrapcdn.com; img-src 'self' https://netdna.bootstrapcdn.com https://i.creativecommons.org https://licensebuttons.net https://www.paypalobjects.com; font-src 'self' https://netdna.bootstrapcdn.com;"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <location path="api/v1">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*"/>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>