<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <targets>
    <target name="error" xsi:type="File" fileName="logs/error_${date:format=yyyy-MM-dd}.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${aspnet-Request-IP}|${threadid}-${threadname}|${message}${onexception:inner=${newline}${exception:format=ToString:maxInnerExceptionLevel=10}}" lineEnding="CR" encoding="utf-8" />
    <target name="file" xsi:type="File" fileName="logs/log_${date:format=yyyy-MM-dd}.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${aspnet-Request-IP}|${threadid}-${threadname}|${message}${onexception:inner=${newline}${exception:format=ToString:maxInnerExceptionLevel=10}}" lineEnding="CR" encoding="utf-8" keepFileOpen="true" openFileCacheTimeout="30" autoFlush="false"/>
    <target name="debugger" xsi:type="Debugger" layout="${longdate}|${level:uppercase=true}|${logger}|${aspnet-Request-IP}|${threadid}-${threadname}|${message}${onexception:inner=${newline}${exception:format=ToString:maxInnerExceptionLevel=10}}" />

    <target name="statsFile" xsi:type="File" fileName="logs/stats.txt" lineEnding="CR" encoding="utf-8" keepFileOpen="true" openFileCacheTimeout="30" autoFlush="false">
      <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
        <column name="date" layout="${date:format=yyyy-MM-dd}" />
        <column name="time" layout="${date:format=HH\:mm\:ss.fff}" /> 
        <column name="offset" layout="${event-properties:LocalOffset}" />
        <column name="name" layout="${event-properties:Name}" />
        <column name="count" layout="${event-properties:Count}" />
        <column name="randomBytesConsumed" layout="${event-properties:RandomBytesConsumed}" />
        <column name="durationMs" layout="${event-properties:Duration}" />
        <column name="avgRandomBytesConsumedEa" layout="${event-properties:RandomBytesConsumedEa}" />
        <column name="avgdurationMsEa" layout="${event-properties:DurationEa}" />
        <column name="addressFamily" layout="${event-properties:AddressFamily}" />
        <column name="bypassKeyId" layout="${event-properties:BypassKeyId}" />
      </layout>
    </target>
  </targets>

  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    
    <logger name="MurrayGrant.PasswordGenerator.PasswordStats" minlevel="Info" writeTo="statsFile" final="true" />

    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Warn" writeTo="error" />
  </rules>
</nlog>